@import url("icomoon.css");

.header {
	backface-visibility: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0.95;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 40;
	background-color: #fff;
}

.header-logo {
	background: rgba(0, 0, 0, 0) url("/app/images/wvef-80px.png") repeat scroll 0 0 / 300px 40px;
    display: inline-block;
    height: 40px;
    width: 300px;
	margin: 15px;
}

.company-logo-preview {
	visibility: hidden;
	display: none;
}

.content-container {
	width: 70%;
	box-sizing: border-box;
	margin: 90px auto 0;	
	background-color: #fff;
	box-shadow: 0 1px 2px 0 #000;
}

.content-block {
	padding: 30px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.content-block .numeric-input {
	min-width: 280px;
}

.content-block-title {
	color: #000;
}

.req-field {
	color: red;
}

.content-block-bottom {
	margin-bottom: 90px;
	padding: 10px 12px 5px;
}

.card-box {
	margin-bottom: 15px;
}

.card-title {
	padding: 0 10px 0 10px;
}

.card-image {
	margin: 3px 0 3px 0;
}

.card-content {
	padding: 0 10px 0 10px;
}

.json-sidenav {
	max-width: 80%;
	width: 80%;
}

body, html {
	background: #002b54 none repeat scroll 0 0;
}

md-icon {
	font-size: 25px;
}

md-input-container {
	padding: 2px 2px 26px;
}

md-input-container.md-icon-float > label {
	margin-left: 36px;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.sc md-card-content  {
	padding: 0px;
}

md-input-container.md-input-invalid  {
	color: red; 
}

md-toast {
	position: fixed;
}

md-checkbox {
	font-size: 14px;
}