<div class="sc">
<div layout="column" class="content-container">
	<md-content class="md-padding">
		<div data-ng-repeat="c in companies">
			<md-card class="card-box">
				<md-toolbar class="card-title"><h2 class="md-title">{{c.name}}</h2></md-toolbar>
				<div class="card-image">
					<img ng-src="{{c.logoImgUrl}}" class="md-card-image card-image">
				</div>
				<div class="card-content">					
					<md-card-content>
						<p>{{c.businessDescription}}</p>
					</md-card-content>
				</div>
			</md-card>
		</div>
		<br/>    
	</md-content>
</div>

<div layout="column" class="content-container">
	<md-content layout-padding>
		<div layout layout-sm="column">
			<div flex="50" class="jsonContainer">
				Company List JSON:
				<pre>{{companies | json}}</pre>
			</div>
			<div flex="50">
				Card List JSON:
				<pre>{{cards | json}}</pre>
			</div>
		</div>
	</md-content>
</div>
</div>